# Resend email provider
RESEND_API_KEY=re_jWGNtzGg_NdcYiCM5apT5sntZSqUsQJVi"

# Sender and recipient used by contact form server function
# CONTACT_FROM_EMAIL must be verified in Resend
# In production, do not use onboarding@resend.dev
CONTACT_FROM_EMAIL=noreply@your-domain.com
CONTACT_TO_EMAIL=hello@your-domain.com

VITE_APPWRITE_PROJECT_ID = "69c6ec4b0016454b6697"
VITE_APPWRITE_PROJECT_NAME = "danielkroupa"
VITE_APPWRITE_ENDPOINT = "https://fra.cloud.appwrite.io/v1"
